@page "/vehiculo"
@using Vehiculos_20200091.Data.Models
@layout MainLayout

<PageTitle>Registro de Vehiculos</PageTitle>

<div class="header container-header">
    <div class="text-center header-text">
      <p class="fw-bold header-text fs-4">Registro de Vehiculos</p>
    </div>
</div>
<div class=" mt-1"></div>
<div class="card">
  <div class="card-header card-header-color">
        <p class=" card-title fs-6 fw-bold text-uppercase fw-normal text-white ">Datos del Vehiculo</p>
    </div>
  <div class="card-body">

    <div class="row g-3">
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault01" class="form-label">Marca</label>
        <select @bind="@Datos.MarcaId" class="form-select" id="validationDefault01">
          <option selected disabled value="">Elegir...</option>
          @foreach (var marca in Marcas){
          <option value="@marca.MarcaId">@marca.Marca</option>
         }
        </select>
      </div>
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault02" class="form-label">Modelo</label>
        <select @bind="@Datos.ModeloId" class="form-select" id="validationDefault01">
          <option selected disabled value="">Elegir...</option>
          @foreach (var modelo in Modelos)
          {
            <option value="@modelo.ModeloId">@modelo.Modelo</option>
          }
        </select>
      </div>
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault03" class="form-label">Año</label>
          <select @bind="@Datos.Año" class="form-select" id="validationDefault03" required>
          <option selected disabled value="">Elegir...</option>
          @foreach (var Año in Año)
          {
            <option value="@Año">@Año</option>
          }
        </select>
      </div>
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault04" class="form-label">Color</label>
        <select @bind="@Datos.ColorId" class="form-select" id="validationDefault04" required>
          <option selected disabled value="">Elegir...</option>
          @foreach (var color in Colores)
          {
            <option value="@color.ColorId">@color.Color</option>
          }
        </select>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" @onclick="Registrar">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div style="background-color:#@BoxColor; color:white; width:100px; height:100px">@BoxColor</div>
<div class=" mt-1"></div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehiculo in Vehiculos!)
        {
            <tr>
                <td>@vehiculo.vehiculoID</td>
                <td>@vehiculo.Marca!.Marca</td>
                <td>@vehiculo.Modelo!.Modelo</td>
                <td>@vehiculo.Año</td>
                <td>@vehiculo.Color!.Color</td>
                <td class="hexcolorbox">
                <div class="hexcolor" style="background-color:#@vehiculo.Color!.HexColor"></div></td>
            </tr>
        }
    </tbody>
</table>
<br>
@code {

  public List<int> Año { get; set; }= null!;
  List<VehiculoMarca> Marcas = new List<VehiculoMarca>();
  List<VehiculoModelo> Modelos = new List<VehiculoModelo>();
  List<VehiculoColor> Colores = new List<VehiculoColor>();
  public List<Vehiculo>? Vehiculos { get; set; } = new List<Vehiculo>();

  public string Filtro { get; set; } = "";

  public async void Registrar()
  {
    var vehiculo = await VehiculosServices.Registrar(Datos);
    if (vehiculo.Succeeded)
    {
      var Id = vehiculo.Data;
    }
    else Console.WriteLine(vehiculo.Message);
    await Consultar();
  }

  public async Task Consultar()
  {
    var r = await VehiculosServices.Consultar(Filtro);
    if(r.Succeeded) Vehiculos = r.Data;
  }
  protected override async Task OnInitializedAsync()
  {
    Marcas = await MarcaService.Consultar();
    Modelos = await ModeloServices.Consultar();
    Colores = await ColorServices.Consultar();
    await Consultar();

    Año = new List<int>();
    for (int y = DateTime.Now.Year + 2; y >= (DateTime.Now.Year - 10); y--)
    {
      Año.Add(y);
    }
  }
public Vehiculo Datos { get; set; } = new Vehiculo();

//string[] BoxColor  = new string[] { "#212529" };
  string BoxColor = "212529";
}